body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover{
    border-bottom: 2px solid #fff;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.user-actions {
    float: right;
    margin-top: 10px;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.user-actions a:hover{
    border-bottom: 2px solid #fff;
}


.grade-select {
  
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 200px;
}

.grade-select select {
    padding: 0.5rem;
    font-size: 16px;
}

.container {
    padding: 2rem;
}

.question {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 框架搭建 */